<div class="big-card_container">

    <div class="big-card_picture">
        <img src="/assets/img/White Cloud Horse.jpg" 
        alt="big-card picture">
    </div>

    <div class="big-card_title">
        <h1><a href="#">Do flying horses exist?</a></h1>
    </div>

    <div class="big-card_description">
        <p>
            <a href="">In a remarkable event, a flying white horse was spotted in the clouds by a bystander in the middle of
                the night. The ethereal image, which appeared to be a majestic white horse galloping across the night
                sky, left the onlooker in awe.
            </a>
        </p>
    </div>

</div>