.content-container {
    width: 100%;
    height: 100vh;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-cover>img {
    border: 5px solid grey;
    width: 500px;
    min-width: 500px;
    height: 400px;
}

.content-description {
    margin-top: 20px;
}

.content-description>p {
    margin-top: 20px;
    color: rgb(198, 197, 197);
    text-align: center;
}