<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="main-articles">
        <app-big-card
            photoCover="https://images.nightcafe.studio/jobs/33Q6ojVmPjWqZm2EgpqY/33Q6ojVmPjWqZm2EgpqY--4--rqx49_4x.jpg?tr=w-1080,c-at_max"
            cardTitle="Do flying horses exist?"
            cardDescription="In a remarkable event, a flying white horse was spotted in the clouds by a bystander in the middle of the night. The ethereal image, which appeared to be a majestic white horse galloping across the night sky, left the onlooker in awe.">
        </app-big-card>
    </div>

    <div class="other-articles">
        <app-small-card cardTitle="Man sees the Universe with eyes closed"
            photoCover="https://images.nightcafe.studio/jobs/pNL1AhFFmDFFnwi9xpZx/pNL1AhFFmDFFnwi9xpZx--1--wibdi_13.8889x.jpg?tr=w-1080,c-at_max">
        </app-small-card>
        <div class="other-articles">
            <app-small-card cardTitle="Woman from Jupiter came to Earth"
                photoCover="https://images.nightcafe.studio/jobs/fs3bGfo1yrkljJlKXtVE/fs3bGfo1yrkljJlKXtVE--1--r5xd8_15.625x.jpg?tr=w-1080,c-at_max">
            </app-small-card>
            <div class="other-articles">
                <app-small-card cardTitle="Woman from Venus talks about love"
                    photoCover="https://images.nightcafe.studio/jobs/GNEoi8cquGIPoKzIAO30/GNEoi8cquGIPoKzIAO30--1--lr6tp_7.8125x.jpg?tr=w-1080,c-at_max">
                </app-small-card>
            </div>
        </div>